
    <!--content1 start-->
    <h4 class="m-3 p-0">Bestselling Products:</h4>
    <div class="container-fluid text-center">
      <div class="card p-4 ">
    <div class="row p-0">
  
    <div class="col-lg-3 col-sm-6 ">
      
        <div class="card border-0">            
            <div class="card-body">
                <a routerLink ="/index/best1"><img src="assets/image/mobiles/mobile3.jpg" alt="">
              <h4>Oneplus pro</h4></a>
              <p><i class="fa fa-rupee-sign pr-3">              
                 <s>10,999</s></i>
                <i class="fa fa-rupee-sign">8,999</i>
              </p>
              <p><i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star-o text-warning"></i></p>
            </div>
          </div>
    </div>

    <div class="col-lg-3 col-sm-6 ">
        <div class="card border-0">
                       <div class="card-body">
                          <a routerLink ="/index/best2"><img src="assets/image/mobiles/mobile1.jpeg" alt="">
                <h4 class="m-2">Realme y5</h4></a>
                <p><i class="fa fa-rupee-sign p-2">              
                   <s>10,999</s></i>
                  <i class="fa fa-rupee-sign">8,999</i>
                </p>
                <p class="m-2"><i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o text-warning"></i></p>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card border-0 ">
                        <div class="card-body">
                            <a routerLink ="/index/best3" ><img src="assets/image/mobiles/mobile4.jpeg" alt="">
                <h4 class="m-2">Samsung M30</h4></a>
                <p><i class="fa fa-rupee-sign p-2">              
                   <s>10,999</s></i>
                  <i class="fa fa-rupee-sign">8,999</i>
                </p>
                <p class="m-2"><i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o text-warning"></i></p>
            </div>
          </div>
    </div>
    <div class="col-lg-3 col-sm-6 ">
        <div class="card border-0">
                        <div class="card-body">
                            <a routerLink ="/index/best4"><img src="assets/image/mobiles/mobile5.png" alt="">
                <h4 class="m-2">Oppo note3</h4></a>
                <p><i class="fa fa-rupee-sign p-2">              
                   <s>10,999</s></i>
                  <i class="fa fa-rupee-sign">8,999</i>
                </p>
                <p class="m-2"><i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o text-warning"></i></p>
            </div>
          </div>
    </div>
</div>
</div>
</div>
 <!--content1 end-->