<div class="div" style='background-color:darkcyan'>
 
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark  w-100  " >
        <a class="navbar-brand " href="#navbarNavDropdown"><h1 class="image" style="font-style:italic; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><img src="assets/image/dusalogo.png" class="m-0" height="60"/><s> fashion.</s>
        </h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon " style="float:right;"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNavDropdown" style="float:right;" >
          <ul class="navbar-nav "  >
            <li class="nav-item active " >
               <form class="form-inline ">
                <input class="form    " placeholder="What are you looking for" aria-label="Search">
                <a class="nav-link  " href="#" color="balck"><button style="height: 35px; background-color: black;"><i class="fa fa-search" aria-hidden="true" style="color: white;"></i></button>
              </a></form>
            </li>
            <li class="nav-item active " >
              <a class="nav-link  " data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo" >Register </a>
            </li>
            <li class="nav-item active " >
              <a class="nav-link  " data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo2">Login </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link  " href="#" ><i class="fa fa-bell" aria-hidden="true" ></i> Notifications</a>
            </li>   
            
            <li class="nav-item active ">
              <a class="nav-link  " href="#"><i class="fa fa-cart-plus" aria-hidden="true" style="color: white;"></i> Add to cart</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>


   
</div>

<!--navbar start-->
<div id="div">
  <div class="navigation text-center ">

      <nav class="navbar navbar-expand-lg navbar-dark bg-danger  w-100  ">
          <a class="navbar-brand " href="#navbarNavDropdown">HOME</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        <div class="collapse navbar-collapse  " id="navbarNavDropdown1">
          <ul class="navbar-nav ">
            <li class="nav-item active ">
              <a class="nav-link  " href="#" color="balck">WOMEN</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link  " href="#">MEN</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link  " href="#">MOBILES & ELECTRONICS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link  " href="#" >SPORTS & MORE</a>
            </li>
           
            <li class="nav-item active ">
              <a class="nav-link  " href="#" >HOME & KITCHEN</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link  " href="#" >KIDS</a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link  " href="#" >EXCLUSIVE BRANDS</a>
            </li>
          <li class="nav-item active ">
            <a class="nav-link " href="#" >OFFERS</a>
          </li>
          
          </ul>
        </div>
      </nav>
    </div>
      
  </div>
      <!--navbar end-->


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label text-dark">Email(or)Phno:</label>
            <input type="text" class="form-control" id="Email-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label text-dark">password:</label>
            <input type="text" class="form-control" id="password-text">
            <a href="#"> <p>forget password?</p> </a>
          </div>
          <button type="button" class="btn btn-primary pl-3 ">login</button>
        </form>
      </div>




        
   
         <div class="modal fade" id="exampleModal1"  tabindex="-1" role="dialog1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <form>
                         <div class="form-group">
                                 <label for="recipient-name" class="col-form-label">full name:</label>
                                 <input type="text" class="form-control" id="full-name">
                               </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label">Email(or)Phno:</label>
                     <input type="text" class="form-control" id="Email-name">
                   </div>
                   <div class="form-group">
                     <label for="message-text" class="col-form-label">password:</label>
                     <input type="text" class="form-control" id="password-text">
                     
                   </div>
                   <div class="form-group">
                         <label for="message-text" class="col-form-label"> Confirm password:</label>
                         <input type="text" class="form-control" id="password-text">
                         
                       </div>
                 </form>
               </div>
               <div class="modal-body">
                 <button type="button" class="btn btn-secondary  " data-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary ">Register</button>
             </div>
             </div>
           </div>
         </div>


       