<!--content5 start-->
<div class="brand ">
    <div class="container-fluid  m-3   text-center ">
      <div class="row">
        <div class="col-lg-2 ">
          <img src="assets/image/brands/logo.png" class=" m-2 " alt="">
        </div>
       <div class="col-lg-2 ">
           <img src="assets/image/brands/logo1.jpg" class="m-2" alt="">
        </div>
           <div class="col-lg-2">
         
             <img src="assets/image/brands/logo2.png" class="m-2" alt="">
            </div>
             <div class="col-lg-2 ">
          
               <img src="assets/image/brands/logo3.jpg" class=" m-2" alt="">
            </div>
               <div class="col-lg-2 ">
             
                 <img src="assets/image/brands/logo4.png" class=" m-2" alt="">
                </div>
                 <div class="col-lg-2">
      
                   <img src="assets/image/brands/logo.png" class=" m-2" alt="">
                </div></div>
      </div>
    </div>
   
    <!--content5 end-->
     <!--content6 start-->
     <div class="footer m-2 bg-dark text-white ">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <ul type="none">
            <li class="p-0"><b> <h4>Shopper Central</h4> </b></li>
            <li>Sign In/Register</li>
            <li>Payment Options</li>
            <li>ShopClues Surety</li>
            <li>FAQs (Help)</li>
            <li>Service Centers</li>
            <li>User Agreement</li>
            <li>Refer & Earn</li>
            <li>Our Policies</li>
            
           </ul>
          </div>
          <div class="col-lg-3 col-sm-6">
             <ul type="none">
                 <li class="p-0"><b> <h4>Merchant Central</h4> </b></li>
                 <li>Merchant Panel</li>
                 <li>How To Sell</li>
                 <li>Commission Structure</li>
                 <li>Policies & Rules</li>
                 <li>User Agreement</li>
                 <li>Developer Resourcest</li>
                 <li>Merchant Blog</li>
                 <li>Seller Summit</li>
                 
                </ul>
            
           </div>
           <div class="col-lg-3 col-sm-6">
               <ul type="none">
                   <li class="p-0"><b> <h4>About Us</h4> </b></li>
                   <li>History</li>
                   <li>Band of Trust</li>
                   <li>Brand Guidelines</li>
                   <li>TV Commercials</li>
                   <li>In the News</li>
                   <li>Awards</li>
                   <li>Careers</li>
                   <li>Blog</li>
                   
                  </ul>
            
             </div>
             <div class="col-lg-3 col-sm-6">
                 <ul type="none">
                     <li class="p-0"><b> <h4>Contact Us</h4> </b></li>
                     <li><label ><i class="fas fa-phone-alt">  8317697136</i></label>
                                    </li>
                     <li><i class="fas fa-map-marker-alt">   Hyderabad</i></li>
                     <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243646.88005384858!2d78.26795710593578!3d17.41262741933413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1572951044015!5m2!1sen!2sin" width="150" height="80" frameborder="0" style="border:0;" allowfullscreen=""></iframe></li>
                     
                     
                    </ul>
            
               </div>
        </div>
        <div class="row ">
   
           <div class="col-lg-12 mx-auto text-center">
     <i class="fa fa-facebook p-3"></i>
     <i class="fa fa-whatsapp p-3"></i>
     <i class="fa fa-twitter p-3"></i>
     <i class="fa fa-instagram p-3"></i>
     <p>2019&copy;  Dusa fashion store rights....</p>
   
   
  
   
     </div>       
         
        </div>
      </div>
    </div>
    <!--content6 end-->
    
  