<!--mobile start--> 
<div class="card1 my-4 ">
    <div class="container-fluid ">
      <div class="container">
  <div class="row">
      <div class="col-lg-5 col-sm-12">
          <div class="image p-5">
          <a routerLink="/index"><img src="assets/image/electronics/canon2.jpeg" style="width: 400px; height:450px;" ></a> 
      </div>
  </div>
      <div class="col-lg-7 col-sm-12">
<div class="media-body m-5">
<h2 class="mt-0">Canon 1300D Pro</h2>

<p>Product Id:13421435</p>
<p class="m-2  p-1 "><b class="text-warning">4.6</b> <i class="fa fa-star text-warning "></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-o text-warning"></i> (10)| 5 Reviews</p>
<p>

  <h1 >
    <i class="fa fa-inr ">29,999</i></h1>
   <h5> <i class="text-danger"><b>         30% off</b></i>
 
    <i class="fa fa-inr p-2">              
         <s>35,499</s></i></h5> 
         <p><i class="fa fa-diamond">Extra Dusa offers Only on VIP club. <a href="">JOIN NOW</a></i></p>
                       
         <p>
          
          <li type="none" class="m-2"><a href=""><b>
            More Details :</b></a></li>
          <li>camera family :Canon</li>
             <li>Prints & pattern : 1300D </li>
             <li>lens length: Short lens</li>
             <li>Return Policy:10 days</li>

         </p>
 <p  class="text-warning p-2">
     <button class=" w-25 height-10 bg-warning text-white "><a href="">Add tocart</a></button>
         
<button class="text-White w-25   bg-warning height-10 "><a href="">Buy Now</a></button>
 </p>
</div>
      </div>
  </div>
</div>

</div>
</div>

<!--mobile start-->

<div class="div" style="padding-left: 30px;">
    <app-hotdeal></app-hotdeal>
</div>