<!--mobile start--> 
<div class="card1 my-4 ">
    <div class="container-fluid ">
      <div class="container">
  <div class="row">
      <div class="col-lg-5 col-sm-12">
          <div class="image p-5 m-4">
          <a routerLink="/index"><img src="assets/image/electronics/laptop.jpg"  width="300px" height="450px" ></a> 
      </div>
  </div>
      <div class="col-lg-7 col-sm-12">
<div class="media-body m-5">
<h2 class="mt-0"> HP laptop 2520 exo </h2>

<p>Product Id:13421435</p>
<p class="m-2  p-1 "><b class="text-warning">4.6</b> <i class="fa fa-star text-warning "></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-o text-warning"></i> (10)| 5 Reviews</p>
<p>

  <h1 >
    <i class="fa fa-inr ">45,299</i></h1>
   <h5> <i class="text-danger"><b>         10% off</b></i>
 
    <i class="fa fa-inr p-2">              
         <s>55,499</s></i></h5> 
         <p><i class="fa fa-diamond">Extra Dusa offers Only on VIP club. <a href="">JOIN NOW</a></i></p>
                       
         <p>
          
          <li type="none" class="m-2"><a href=""><b>
            More Details :</b></a></li>
          <li> intel i5 core</li>
             <li>Feature: 4GB,500 ,OS:windows</li>
             <li>length: 32 cms</li>
             <li>Return Policy:30 days</li>

         </p>
 <p  class="text-warning p-2">
     <button class=" w-25 height-10 bg-warning text-white "><a href="">Add tocart</a></button>
         
<button class="text-White w-25   bg-warning height-10 "><a href="">Buy Now</a></button>
 </p>
</div>
      </div>
  </div>
</div>

</div>
</div>
 
<div class="div">
    <app-special></app-special>
</div>