   <!--mobile start-->
   <div class="card  ">
    <div class="container-fluid my-5 ">
    <div class="media">
        <div class="row">
        <div class="col-lg-4 p-5 my-3 col-sm-4">
            
        <div class="row ">
            <a routerLink="/index"><img src="assets/image/mobiles/mobile3.jpg" style="width:350px;  height:450px;"></a>
            <script>
            function fun()
            {
             document.write(`${}`) ;
            }
          </script>
        </div>
        <div class="row m-5 w-0" style="margin: auto;">
            <li type="none"><a href=""><img src="assets/image/allmob.JPG"  style="width: 50px; height:50px"></a></li>
            <li type="none"><a href=""><img src="assets/image/side.JPG"  style="width: 50px; height:50px"></a></li>
           
            <li type="none"><a href=""><img src="assets/image/back.JPG"   style="width: 50px; height:50px"></a></li>
       
        </div>
    </div>
            <div class="col-lg-8 col-sm-8 ">
            <div class="media-body">
              <h3 class="mt-0">Realme C1 (Full HD/ 6.2 inches/ Dual Sim/ Android/ RAM 2 GB/ 3G 4G/ WiFi/ 4200 mAh</h3>
            <p>Product Id:13421435</p>
            <p class="m-2  p-1 "><b class="text-warning">4.6</b> <i class="fa fa-star text-warning "></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star-o text-warning"></i> (10)| 5 Reviews</p>
                <p>
                    <h1>
                       <i class="fa fa-inr ">8,999</i>
                       <i>         17% off</i>
                    </h1>
                       <i class="fa fa-inr p-2">              
                            <s>10,999</s></i> 
                            <p><i class="fa fa-diamond">Extra Dusa offers Only on VIP club. <a href="">JOIN NOW</a></i></p>
                                          
                            <p>
                                <li>Display Size:6.2 inches</li>
                                <li>OS name:Android</li>
                                <li>Internal Storage:32GB</li>
                                <li type="none" class="m-2"><a href=""><b>
                                More Specification</b></a></li>
                            </p>
 <p>Select Color:</p>
 <button>
  
     <option value="">white</option>
       
      </button>
      <button>
            
            <option value="">green</option>
            
              
             </button>
             <button>
                    <option value="">Black</option>
                    
                      
                     </button>
                    <p  class="text-warning p-2">
                        <button class=" w-25 height-10 bg-warning text-white "><a href="">Add to cart</a></button>
                            
                   <button class="text-White w-25   bg-warning height-10 "><a href="">Buy Now</a></button>
                    </p>
            </div>
            </div>
          </div>
        </div>
		<div class="col-sm-12">
        <div class="tabs3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Specifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Product Descripation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">More Details</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   <br>
                  <ul><li>Brand	:   Coolpad</li>
                    <li>2GB RAM With 16GB ROM </li>
                   
                    <li>Display Size	:   5.7 inches(14.48 cm)</li>
                    <li>Dual SIM</li>
                    <li>Operating System	:   Android</li>
                    <li>OS Name	:   Android 8.1 (Oreo)</li>
                    <li>4G VoLTE</li>
                    <li>Internal Storage	:   16 GB</li>
                    <li>RAM	:   2 GB</li>
                    <li>Warranty Available	:   Manufacturer Warranty</li>
                  <li>Device Warranty	:   1 Year</li>
                <li>Box Accessories Warranty	:   6 Months</li>
                </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h6>Highlights</h6>
                    <br>
                  <ul><li>1.3GHz Octa-Core Processor</li>
                    <li>2GB RAM With 16GB ROM </li>
                   
                    <li>5.71 Inch HD+ Display</li>
                    <li>Dual SIM</li>
                    <li>8MP + 0.3MP Dual Rear Camera With LED Flash</li>
                    <li>5MP Front Facing Camera</li>
                    <li>4G VoLTE</li>
                    <li>Fingerprint Sensor</li>
                    <li>Bluetooth 4.1</li>
                    <li>GPS + GLONASS</li>
                  <li>3000 MAh Battery</li></ul>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <p><li>  Maximum retail price(inclusive of all taxs: <b>RS 8999</b></li></p>
                </div>
              </div>
        </div>
    </div>
	</div>
  </div>
  
  <div class="div">
      <app-bestsell></app-bestsell>
  </div>