@media  (max-width: 576px)
{
    .card1
    {
      width: 300px;
        margin: 0px;
        padding: 0px;

      .media-body
      {
          width: 250px;
      }  


        img {
            margin-right: 50px;
            padding-right: 50px;
        }
 
    }

    .div
    {
        padding-right:30px;
    }
}