
   <!--content4 start-->
   <div class="container-fluid m-2">
    <div class="card">
      <div class="card-header">
       <h3 class="float-left">Special Deals</h3>        
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/women-dress"><img src="assets/image/women wear/women1.jpg" alt="">
                    <h6 class="m-2">Women Dress</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>3,499</s></i>
                        <i class="fa fa-rupee-sign">1,299</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
          </div>
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/kids-dress"><img src="assets/image/kids wear & toys/dress3.jpg" alt="">
                    <h6 class="m-2">Kids Dress</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>1,499</s></i>
                        <i class="fa fa-rupee-sign">899</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
         </div>
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/toys"><img src="assets/image/kids wear & toys/toys3.jpg" alt="">
                    <h6 class="m-2">Kids Electric bike</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>4,499</s></i>
                        <i class="fa fa-rupee-sign">3,499</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                     <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
         </div>
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/accessories"><img src="assets/image/sliders/best1.PNG" alt="">
                    <h6 class="m-2">fahion Accessories</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>3,499</s></i>
                        <i class="fa fa-rupee-sign">1,299</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
         </div>
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/laptop"><img src="assets/image/electronics/laptop.jpg" alt="">
                    <h6 class="m-2">HP laptop</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>55,499</s></i>
                        <i class="fa fa-rupee-sign">45,299</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
         </div>
          <div class="col-lg-2">
             <div class="card border-0 p-0">
                 <div class="card-body">
                    <a routerLink="/index/egg-boiler"><img src="assets/image/kitchen/image1.jpg" alt="">
                    <h6 class="m-2">Electric Egg Boiler</h6></a>
                      <p><i class="fa fa-rupee-sign p-2">              
                         <s>3,499</s></i>
                        <i class="fa fa-rupee-sign">1,299</i>
                      </p>
                      <p class="m-2"><i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-o text-warning"></i></p>       
                </div>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
  <!--content4 end-->