
   <!--content3 start-->
   <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-header">
           <h3>Hot Deals</h3> 
          </div>
           <div class="card-body p-4">
             <a routerLink="/index/jewellery"><img src="assets/image/sliders/best.PNG" alt="">
             <h5 class="m-2">Jewellery &  Watches</h5></a>
               <p><i class="fa fa-rupee-sign p-2">              
                  <s>3,499</s></i>
                 <i class="fa fa-rupee-sign">1,999</i>
               </p>
               <p class="m-2"><i class="fa fa-star text-warning"></i>
                 <i class="fa fa-star text-warning"></i>
                 <i class="fa fa-star text-warning"></i>
                 <i class="fa fa-star text-warning"></i>
                 <i class="fa fa-star-o text-warning"></i></p>

         </div>
         </div>

      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-header">             
           <h3 class="float-left">Feature products</h3>
          </div>
          <div class="card-body p-0">
          <div class="row ">
            <div class="col-lg-3">
               <div class="card border-0 p-0">
                   <div class="card-body ">
                      <a routerLink="/index/shirt"><img src="assets/image/men wear/men5.jpg" alt="">
                      <h6 class="m-2">Pure Cotton Shirt</h6></a>
                        <p><i class="fa fa-rupee-sign p-2">              
                           <s>999</s></i>
                          <i class="fa fa-rupee-sign">499</i>
                        </p>
                        <p class="m-2"><i class="fa fa-star text-warning"></i>
                          <i class="fa fa-star text-warning"></i>
                          <i class="fa fa-star text-warning"></i>
                          <i class="fa fa-star text-warning"></i>
                          <i class="fa fa-star-o text-warning"></i></p>
        
                  </div>
                  </div>
     
                 </div>
                 <div class="col-lg-3">
                     <div class="card border-0 p-0">
                         <div class="card-body">
                            <a routerLink="/index/helmet"><img src="assets/image/electronics/steelbird.jpg" alt="">
                            <h6 class="m-2">Sport Bike helment</h6></a>
                              <p><i class="fa fa-rupee-sign p-2">              
                                 <s>3,499</s></i>
                                <i class="fa fa-rupee-sign">1,999</i>
                              </p>
                              <p class="m-2"><i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i></p>
              
                        </div>
                        </div>
           
                       </div>
                       <div class="col-lg-3">
                           <div class="card border-0 p-0">
                               <div class="card-body">
                                  <a routerLink="/index/camera"><img src="assets/image/electronics/canon2.jpeg" alt="">
                                  <h6 class="m-2">Canon 1300D</h6></a>
                                    <p><i class="fa fa-rupee-sign p-2">              
                                       <s>35,499</s></i>
                                      <i class="fa fa-rupee-sign">29,999</i>
                                    </p>
                                    <p class="m-2"><i class="fa fa-star text-warning"></i>
                                      <i class="fa fa-star text-warning"></i>
                                      <i class="fa fa-star text-warning"></i>
                                      <i class="fa fa-star text-warning"></i>
                                      <i class="fa fa-star-o text-warning"></i></p>
                    
                              </div>
                              </div>
                 
                             </div>
                             <div class="col-lg-3">
                                 <div class="card border-0 p-0">
                                     <div class="card-body">
                                        <a  routerLink="/index/shoe"><img src="assets/image/shoes/shoe2.jpg" alt="">
                                        <h6 class="m-2">Sport shoes</h6></a>
                                          <p><i class="fa fa-rupee-sign p-2">              
                                             <s>3,499</s></i>
                                            <i class="fa fa-rupee-sign">1,299</i>
                                          </p>
                                          <p class="m-2"><i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star-o text-warning"></i></p>
                          
                                    </div>
                                    </div>
                       
                                   </div>
            </div>
          </div>
        </div>
         
      </div>
    </div>
  </div>
  <!--content3 end-->
 