

<div class="container  m-5 ">
    <div class="image ">
    <img src="assets/image/sliders/newslider.PNG" alt="" class="  m-5 " >
  </div>
  <div class="offers m-1" >
      <div class="container text-center">
          <h3 class="mt-0">TISSOT Chrono XL Classic Watch</h3>
          <p>Product Id:13421435</p>
          <p class="m-2  p-1 "><b class="text-warning">4.6</b> <i class="fa fa-star text-warning "></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star-o text-warning"></i> (10)| 5 Reviews</p>
              <p>
                  <h1>
                     <i class="fa fa-inr ">8,999</i>
                     <i>         17% off</i>
                  </h1>
                     <i class="fa fa-inr p-2">              
                          <s>10,999</s></i> 
                          <p><i class="fa fa-diamond">Extra Dusa offers Only on VIP club. <a href="">JOIN NOW</a></i></p>
                      
                  <p  class="text-white m-5">
                      
                          
                 <button class="btn-danger  "><a  class="text-white" routerLink="/index">+SHOP NOW</a></button>
                  </p>
          </div>
      </div>
          </div>