
    <!--content start-->
    <div class="container-fluid">
        <div class="row m-1">
          <!--left col start-->
          <div class="col-lg-3 ">
            <div class="list-group">
              <a routerLink="#" class="list-group-item list-group-item-action active">Smart Phones</a>
              <a routerLink="#" class="list-group-item list-group-item-action ">Sarees</a>
              <a routerLink="#" class="list-group-item list-group-item-action">Photo Frames </a>
              <a routerLink="#" class="list-group-item list-group-item-action">Men's T-Shirts</a>
              <a routerLink="#" class="list-group-item list-group-item-action ">Jewellery & Watches</a>
              <a routerLink="#" class="list-group-item list-group-item-action ">IndiMarket</a>
              <a routerLink="#" class="list-group-item list-group-item-action ">International Store</a>
            </div>
          </div>
          <!--left col end-->
          <!--right col start-->
          <div class="col-lg-9">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <a routerLink="/index/slider1"><img src="assets/image/sliders/newslider.PNG" class="d-block w-100 " alt="..."></a>
                    </div>
                    <div class="carousel-item">
                      <a routerLink="/index/slider2"><img src="assets/image/sliders/slider1.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                      <a routerLink="/index/slider3"><img src="assets/image/sliders/slider2.jpg" class="d-block w-100 " alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a routerLink="/index/slider4"><img src="assets/image/sliders/slider5.jpg" class="d-block w-100 " alt="..."></a>
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>  
          <!--right col end-->
        </div> 
      
     </div>
      <!--content end-->
      
     