
  <!--content2 start-->
  <div class="adversite">  
    <div class="container-fluid  m-2 text-center">
      <div class="card p-0 m-0">
            <div class="row">
          <div class="col-lg-4 p-0">          
              <img src="assets/image/adversite/pic.jpg" class="w-100 " alt="">
            </div>        
          <div class="col-lg-4 p-0">           
                  <img src="assets/image/adversite/pic1.jpg" class="w-100"  alt="">
                </div>        
          <div class="col-lg-4 p-0">           
                  <img src="assets/image/adversite/pic2.jpg" class="w-100"  alt="">
                </div>        
        </div>
      </div>
    </div>
    </div>  
     <!--content2 end-->