@media only screen and (max-width: 576px)
{
    .card1
    {
        width: 360px;
        margin: 0px;
        padding: 0px;
    }
    .container-fluid
    {
        width: 300px;
        margin: 0px;
        padding: 0px;
    .container {
            width: 300px;
        margin: 0px;
        padding: 0px;

        img
        {
            padding-right: 100px;
        }

        .media-body
        {
            width:300px ;
        }
        }

        
    }

    .div
    {
        padding-right:30px;
    }
}
